@import "../../scss/colors.scss";

.option-list {
  width: 20%;
}
.option-list-item {
  background-color: $text-hover;
  padding: 30px;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
  font-size: 18px;
}

.option-list-item:hover {
  background-color: $background-color-dark;
  color: $text-color;
  cursor: pointer;
}

.option-list-item-selected {
  padding: 30px;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
  background-color: $background-color-dark;
  color: $text-color;
  font-size: 18px;
}
