@import "../../scss/main.scss";

.option-list-div {
  padding-top: 200px;
  text-align: center;
}

.option-list-item {
  color: $text-color;
  list-style: none;
  background-color: $text-hover;
  padding: 30px;
  display: block;
  width: 20%;
  border: 1px solid;
  border-radius: 2px;
  //   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  //     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
}

.option-list-item:hover {
  background-color: $background-color-dark;
  color: $text-color;
  cursor: pointer;
  transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0); /** Chrome & Safari **/
  -o-transform: translate(10px, 0); /** Opera **/
  -moz-transform: translate(10px, 0); /** Firefox **/

  transition: all 0.5s ease-in-out;
}

.option-list-item-selected {
  background-color: $background-color-dark;
  color: $text-color;
  transform: translate(10px, 0px);
}
