@import "../../scss/main.scss";

.option-list {
  width: 20%;
}
.option-list-item {
  color: $text-color;
  list-style: none;
  background-color: $text-hover;
  padding: 30px;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
}

.option-list-item:hover {
  background-color: $background-color-dark;
  color: $text-color;
  cursor: pointer;
}

.option-list-item-selected {
  list-style: none;
  padding: 30px;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
  background-color: $background-color-dark;
  color: $text-color;
  transform: translate(2px, 0px);
  transition: all 0.2s ease-in-out;
}
