@import "../../scss/main.scss";

#one {
  height: 200px;
  background-color: $primary-color;
}
#two {
  height: 200px;
  background-color: $secondary-color;
}

#three {
  height: 200px;
  background-color: $color-text;
}

#four {
  height: 200px;
  background-color: $color-button;
}

#five {
  height: 200px;
  background-color: $background-color;
}
