@import "../../scss/colors.scss";

.resume-div {
  padding-top: 20px;
}

.resume-separator {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

.resume-introduction-div {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  width: 70%;

  @media only screen and (max-width: 1000px) {
    display: block;
    width: 90%;
  }
}

.resume-title {
  font-size: 28px;
  padding-bottom: 20px;
}
.resume-description {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
}

.resume-experience-div {
  padding-top: 50px;
  margin: 0 auto;
  width: 80%;
  text-align: center;

  @media only screen and (max-width: 800px) {
    display: block;
    width: 90%;
  }
}
.resume-experience-icon-div {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @media only screen and (max-width: 800px) {
    display: inline-block;
    padding-bottom: 10px;
  }

  @media only screen and (max-width: 380px) {
    display: inline-block;
    padding-bottom: 0px;
  }
}

.resume-experience-icon {
  font-size: 25px;
  color: $icon-color;

  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 50px;
  justify-content: center;
  border-radius: 25%;
  background-color: $background-color-blue;
  display: flex;
  align-items: center;
  border: 3px solid $icon-color;

  @media only screen and (max-width: 800px) {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    text-align: center;

    height: 40px;
    width: 40px;
  }

  @media only screen and (max-width: 500px) {
    height: 30px;
    width: 30px;
  }

  @media only screen and (max-width: 380px) {
    display: none;
  }
}

.resume-experience-icon svg {
  height: 50px;

  @media only screen and (max-width: 800px) {
    height: 40px;
  }

  @media only screen and (max-width: 500px) {
    display: inline-block;
    height: 20px;
  }
}

.resume-experience-icon:hover {
  background-color: $color-green;
  cursor: pointer;
}

.resume-experience-role-mobile {
  display: none;
  font-weight: 600;
  margin: 0px;

  @media only screen and (max-width: 800px) {
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
  }

  @media only screen and (max-width: 380px) {
    font-size: 18px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
}

.resume-experience-company-mobile {
  display: none;
  margin: 0px;

  @media only screen and (max-width: 800px) {
    display: inline-block;
  }
}

.resume-experience-details-div {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: left;
  width: 80%;

  @media only screen and (max-width: 800px) {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 20px;
  }
}

.resume-experience-div ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.resume-experience-item {
  display: grid;

  grid-template: 1fr / 1fr 2fr;
  gap: 0px;
  height: 100%;

  position: relative;

  @media only screen and (max-width: 800px) {
    padding-left: 0px;
    display: block;
    text-align: left;
  }
}
.resume-experience-icon::after {
  width: 3px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  height: 100%;

  background: $icon-color;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.resume-experience-title {
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;

  @media only screen and (max-width: 800px) {
    display: block;
  }
}

.resume-experience-role {
  font-size: 18px;
  padding-right: 5px;
  font-weight: 600;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.resume-experience-company {
  font-size: 16px;

  @media only screen and (max-width: 1300px) {
    padding-right: 20px;
  }

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.resume-experience-date {
  margin-left: auto;

  @media only screen and (max-width: 1300px) {
    margin: 0;
  }
}

.resume-experience-title p {
  margin-bottom: 0px;
  margin-top: 0px;

  @media only screen and (max-width: 1300px) {
    margin-bottom: 10px;
  }
}

.resume-experience-description-div {
  @media only screen and (max-width: 800px) {
    // text-align: center;
  }
}

.resume-experience-description-location {
  font-family: "Lora";
  font-size: 16px;
  font-style: italic;
  margin: 0px;

  @media only screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.resume-experience-description ul {
  padding-left: 25px;

  @media only screen and (max-width: 800px) {
  }
}

.resume-experience-description ul li {
  list-style: disc;
  padding-left: 10px;
  margin: auto;
  margin-bottom: 10px;

  @media only screen and (max-width: 800px) {
    text-align: justify;
    padding-left: 0px;
  }
}
