@import "../../scss/main.scss";

.header {
  background-color: $nav-color;
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 1px solid $color-button;
}

.div-title {
  margin-left: 10%;
}
