@import "../../scss/main.scss";

.title {
  color: $text-color;
}

.dot {
  font-weight: 900;
  font-size: 22px;
  color: $text-color;
  transform: rotate(25deg);
}

.inline {
  display: inline-block;
  line-height: 22px;
  margin: 3px;
}

.role {
  color: $text-color-bold;
}

.div-link {
  margin-left: auto;
  margin-right: 25%;
}

.home {
  cursor: pointer;
  color: $text-color;
}
.home:hover {
  cursor: pointer;
  color: $text-color;
}

.link {
  font-size: 22px;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  margin: 10px;
}

.link:hover {
  cursor: pointer;
  color: $text-color;
}

.selected {
  color: $text-color;
}
