@import "../../scss/main.scss";

.title {
  color: $color-heavy-bold-text;
}

.slash {
  font-weight: 900;
  font-size: 25px;
  color: $color-button;
  transform: rotate(25deg);
}

.inline {
  display: inline-block;
  line-height: 18px;
  margin: 10px;
}

.role {
  color: $color-bold-text;
}

.div-link {
  margin-left: auto;
  margin-right: 10%;
}

.home {
  cursor: pointer;
  color: $color-button;
}
.home:hover {
  cursor: pointer;
  color: $color-button;
}

.link {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  color: $color-text;
  margin: 10px;
}

.link:hover {
  cursor: pointer;
  color: $color-button;
}

.selected {
  color: $color-button;
}
