@import "../../scss/colors.scss";

.header-link {
  font-size: 22px;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  color: $navbar-text-color;
  margin: 10px;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.header-link:hover {
  cursor: pointer;
  color: $text-hover;
}

.selected {
  color: $text-hover;
  text-decoration: underline;
}
