@import "../../scss/colors.scss";

.header {
  background-color: $background-color-dark;
  top: 0px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: baseline;

  @media only screen and (max-width: 600px) {
    justify-content: flex-start;
  }
}

.header-title-div a {
  text-decoration: none;
  color: $text-color-blue;
}

.header-title-div a:hover {
  color: $text-hover;
}

.hamburger {
  display: none;
  color: white;
  font-size: 44px;
  line-height: 44px;
  margin: 10px;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.hamburger:hover {
  cursor: pointer;
}
