@import "../../scss/colors.scss";

.footer {
  background-color: $background-color-blue;
  width: 100%;
  text-align: center;
  //   bottom: 0;
  flex-shrink: 0;
}

.footer-title {
  color: $text-color-blue;
  // padding-top: 20px;
}
