$font-stack: Helvetica, sans-serif;

$text-color: #e9ecef;
$text-color-blue: #ced4da;
$text-color-bold: #2f4858;
$text-color-dark: #0e1b0f;
$background-color-dark: #212529;
$background-color-light: #dee2e6;
$text-hover: #6ab271;
