$font-stack: Helvetica, sans-serif;

$text-color-blue: #ced4da;
$text-color-bold: #2f4858;
$background-color-light: #fff;

$text-color-dark: #1f1f1f;
$text-color: #1f1f1f;

$navbar-color: #fff;
// $navbar-border: 1px solid #

$background-color-dark: #77a6f6;
$navbar-color: #fff;
$navbar-text-color: #1f1f1f;

$text-hover: #5593ff;
// #D3E3FC
