@import "../scss/colors.scss";

.diagonal-background {
  background-color: $background-color-dark;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  padding-bottom: 100px;
}

.diagonal-background-inverse {
  padding-top: 100px;
  background-color: $background-color-dark;
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
