// _base.scss
$font-stack: Helvetica, sans-serif;

$primary-color: #2c3531;
$secondary-color: #116466;
$dark-highlight-color: #d9b08c;
$soft-highlight-color: #ffcb9a;
$background-color: #d1e8e2;

body {
  margin: 0;
  font: 100% $font-stack;
  color: $primary-color;
}

.about {
  background-color: $primary-color;
  height: 500px;
}
.work {
  background-color: $secondary-color;
  height: 500px;
}
.contact {
  background-color: $soft-highlight-color;
  height: 500px;
}
