// _base.scss
$font-stack: Helvetica, sans-serif;

$primary-color: #b6ced4;
$secondary-color: #b0bcc2;
$color-text: #c5def1;
$color-nav: #a2eadf;
$color-button: #6ab271;
$color-heavy-bold-text: #1a3d3f;
$color-text: #6e7c83;

$background-color: #e8fcff;
$nav-color: #f3f8fc;

body {
  margin: 0;
  font: 100% $font-stack;
  color: $background-color;
  background-color: $background-color;
}

.about {
  background-color: $primary-color;
  height: 1500px;
}
.work {
  background-color: $secondary-color;
  height: 1500px;
}
.contact {
  background-color: $secondary-color;
  height: 1500px;
}
