@import "../../scss/colors.scss";

.banner-div {
  padding-top: 60px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    display: block;
    padding: 0px;
  }
}

.banner-title {
  padding: 20px;
  color: $text-color;
  border-bottom: 2px double $text-color;
  display: inline-block;

  @media only screen and (max-width: 600px) {
    padding: 0px;
  }
}

.banner-description {
  font-size: 20px;
  padding-bottom: 20px;
  color: $text-color;
  margin-top: 0px;
}

.banner-icons a {
  color: $text-color;
  font-size: 26px;
  text-decoration: none;
  padding: 10px;
}

.banner-icons a:hover {
  color: $text-hover;
}
